*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
h2{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}
button{
    color: white;
    margin-top: 18px;
    width: 100px;
    height: 35px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
}
.hero-left p{
    font-size: 18px;
    color: #e5e7eb;
}
header ,footer{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 18px 80px 18px 80px;
    color: #e5e7eb;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-section{
    background-color: #1F2937;
}
.Links ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}
.Links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 500px;
    align-items: center;

}
.hero-right ,.hero-left{
    padding: 30px 80px 50px 80px;
}
img{
        border-radius: 20px;
}
.hero-right img{
    width: 500px;
    height: auto;
}
.information-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 80px 20px 80px;
}
.info-images{
    display: flex;
    padding: 30px;
    gap: 30px;
}
.info-images p{
    color: #66676a;
    text-align: center;
}
.quote-section{
    display: flex;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    height: 500px;
    color: #1F2937;
    font-weight: 300;
    padding: 20px 80px 20px 80px;
}
.quote-section blockquote cite{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.calltoaction-section{
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.cta{
    display: flex;
    background-color: #3882f6;
    color:#e5e7eb;
    height: 80px;
    max-width: 1000px;
    width: 100%;
    padding: 42px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.calltoaction-section button{
    margin: 0;
    border: 2px solid white;
}